* {
    box-sizing: border-box;
}

.desk {
    width: 570px;
    height: 100px;
    margin: 25px auto;
    font-family: "Times New Roman";
    font-size: 16px;
    padding: 20px;
    background-color: #eeeeee;
}

.parent {
    float: left;
    white-space: nowrap;
}

.fl {
    background-color: red;
    display: inline-block;
    width: 200px;
    margin: 5px;
}

.of {
    overflow: hidden;
    overflow-x: scroll;
}


.of::after {
    content: ' ';
    clear: both;
    display: block;
}

.p1 {
    margin: 0 5px;
}

.ps {
    position: relative;
    padding: 0;
}

.child {
    width: 20px;
    height: 20px;
    margin: 0;
    position: absolute;

}

.c1 {
    background-color: darkgrey;

}

.c2 {
    background-color: red;
    right: 0;
}

.c3 {
    background-color: darkgreen;
    bottom: 0;
}

.c4 {
    background-color: blueviolet;
    bottom: 0;
    right: 0;
}

.p2 {
    position: relative;
    top: 20px;
    left: 20px;
}